@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s, background-color 0.3s;
  background-color: transparent;
}

.navbar.hidden {
  top: -100px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  position: relative; /* Ensure the navbar container is the reference for the absolute positioning */
}

.navbar-logo img {
  height: 70px;
  width: 100px;
  max-width: 100%;
}

.navbar-links {
  display: flex;
  align-items: center;
  transition: max-height 0.3s ease, transform 0.3s ease;
  overflow: hidden;
}

.navbar-links a {
  font-family: 'Roboto', sans-serif;
  color: #34495e;
  text-decoration: none;
  margin-left: 1.5rem;
  position: relative;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #e74c3c;
  transition: width 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
}

.book-now-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: #c0392b;
}

.book-now-btn.desktop {
  display: block;
}

.book-now-btn.mobile {
  display: none;
  margin-top: 1rem;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #2c3e50;
  margin: 5px 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Position below the navbar */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: slideDown 0.3s ease forwards; /* Slide down animation */
    z-index: 999; /* Ensure the menu is above other content */
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a {
    margin: 0.5rem 0;
    color: #ffffff; /* Highlight text color */
  }

  .navbar-links a:hover {
    color: #e74c3c; /* Highlight color on hover */
  }

  .book-now-btn.desktop {
    display: none; /* Hide desktop button on small screens */
  }

  .book-now-btn.mobile {
    display: none; /* Ensure mobile button is hidden */
  }

  .hamburger {
    display: block;
    z-index: 1000; /* Ensure the hamburger is above other content */
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .scroll-nav {
    display: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.scroll-nav {
  display: none;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  border-radius: 20px;
  z-index: 1000;
}

.scroll-nav-links {
  display: flex;
  justify-content: center;
}

.scroll-nav-links a {
  font-family: 'Roboto', sans-serif;
  color: #34495e;
  text-decoration: none;
  margin: 0 0.5rem;
  position: relative;
}

.scroll-nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #e74c3c;
  transition: width 0.3s ease;
}

.scroll-nav-links a:hover::after {
  width: 100%;
}

@media (min-width: 769px) {
  .scroll-nav {
    display: block;
  }
}
